/* Reglas: Están formadas por los sigieontes elementos: 

* Selectores: hacen referencia a la etiqueta, id o clase HTML
* Declaración: Incluyen las propiedades a aplicar al selector indicado.
    y estan dentro de llaves {...}
    * Propiedad: Indica el atributo a modificar.
    * Valor: El valor asignado a la propiedad.
*/

/* Selector de etiqueta: header - section - article - nav*/
/* header {
  background: pink;
} */

/* Selector descendente: Es un elemento hijo de otro */
/* body header div nav ol li a */

/* Selector de clase: . */
/* .link */

/* Selector de id: # */
/* #portafolio */

/* ************************************************************************************* */

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal; /* peso de la fuenta: normal o negrita*/
}

h1 {
  font-size: 40px;
  line-height: 1.5em; /* alto de linea */
  letter-spacing: -0.2px;
}
